 *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/bg-panam.png);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    opacity: 75%;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #FCEE09;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 5%;
    font-size: 30px;
}

.header-text h1{
    font-size: 45px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #FF003C;
}

/*--------------GAMES--------------------------------------*/

.sub-title{
    font-size: 45px;
    font-weight: 600;
    color: #fff;
}

#games{
    padding: 30px 0;
}

.games-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.games-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.games-list div img{
    width: 90px;
    height: 100px;
    margin-bottom: 30px;
}

.games-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.games-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.games-list div:hover{
    color: #050A0E;
    background-color: #FF003C;
    transform: translateY(-10px);
}

/*--------------GAMES--------------------------------------*/

#portfolio{
    padding: 50px 0; 
}

.captures-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.top-captures{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.top-captures img{
    width: 100%;
    border-radius: 10px;
    display: block;
}